*.html           linguist-documentation
*.json           linguist-documentation
Dangerfile       linguist-vendored
fastfile/*       linguist-vendored
Gemfile          linguist-vendored
Gemfile.lock     linguist-vendored
