<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mataku.scrobscrob.licenses">

    <application
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">
        <activity android:name=".ui.LicensesActivity" />
    </application>

    <dist:module
        dist:onDemand="false"
        dist:title="@string/license_module_name">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
