name: Deploy app to firebase app distribution

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch"
        required: true
        default: "develop"
      release_notes:
        description: "Release notes"
        required: false
  schedule:
    - cron: '00 13 1 * *'

env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx8g -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g"

jobs:
  deploy-app-to-app-distribution:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        ref: ${{ github.event.inputs.branch }}
    - id: auth
      uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
      with:
        create_credentials_file: true
        workload_identity_provider: ${{ secrets.WORKFLOW_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
    - uses: ./.github/actions/setup-gradle
      with:
        use-build-cache: 'true'
    - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
      with:
        bundler-cache: true
    - name: Prepare release notes
      run: |
        echo "${{ github.event.inputs.release_notes }}" >> release_notes.txt
        echo "${{ github.event.inputs.branch }}@$(git rev-parse HEAD)" >> release_notes.txt
    - name: Prepare authentication
      run: |
        echo -n "${{ secrets.SUNSETSCROB_KEYSTORE }}" | base64 -d > SunsetScrob.jks
    - name: Deploy to Firebase App Distribution
      env:
        LAST_FM_API_KEY: ${{ secrets.LAST_FM_API_KEY }}
        LAST_FM_SHARED_SECRET: ${{ secrets.LAST_FM_SHARED_SECRET }}
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
        SUNSET_KEY_ALIAS: ${{ secrets.SUNSET_KEY_ALIAS }}
        SUNSET_KEY_PASSWORD: ${{ secrets.SUNSET_KEY_PASSWORD }}
        SUNSET_STORE_PASSWORD: ${{ secrets.SUNSET_STORE_PASSWORD }}
      run: |
        bundle exec fastlane android setup_for_ci
        bundle exec fastlane android deploy_to_firebase_app_distribution
