name: Build and test

on:
  push:
    branches:
      - feature/internal-test

concurrency:
  group: ${{ github.head_ref || 'develop' }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx8g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/setup-gradle
        with:
          use-build-cache: 'true'

      - uses: ruby/setup-ruby@6797dcbb9a1889fd411d07e8aba7eded53fb8b48 # v1.264.0
        with:
          bundler-cache: true
      - name: Setup
        run: |
          echo -n "${{ secrets.SUNSETSCROB_KEYSTORE }}" | base64 -d > SunsetScrob.jks
      - id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          create_credentials_file: true
          workload_identity_provider: ${{ secrets.WORKFLOW_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}

      - name: Build with Gradle
        env:
          LAST_FM_API_KEY: ${{ secrets.LAST_FM_API_KEY }}
          LAST_FM_SHARED_SECRET: ${{ secrets.LAST_FM_SHARED_SECRET }}
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
          SUNSET_KEY_ALIAS: ${{ secrets.SUNSET_KEY_ALIAS }}
          SUNSET_KEY_PASSWORD: ${{ secrets.SUNSET_KEY_PASSWORD }}
          SUNSET_STORE_PASSWORD: ${{ secrets.SUNSET_STORE_PASSWORD }}
          HALT_GOOGLE_PLAY_RELEASE_PACKAGE_NAME: com.mataku.scrobscrob
          HALT_GOOGLE_PLAY_RELEASE_TRACK: internal
          HALT_GOOGLE_PLAY_RELEASE_VERSION_NAME: 1.21.1
          HALT_GOOGLE_PLAY_RELEASE_JSON_FILE_PATH: ${{ steps.auth.outputs.credentials_file_path }}
        run: |
          bundle exec fastlane android setup_for_ci
          bundle exec fastlane android halt_release
